@model List<Account>
@{
    ViewBag.Title = "My Accounts";

}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{


    <h2><u>@User.Identity.Name's Account List</u></h2>
    <br />
<a asp-controller="Account" asp-action="Add" class="btn btn-primary">Add Account</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Resource</th>
            <th>Link</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            if (account.AccountUser == User.Identity.Name)
            {
            <tr>
                <td>@account.Resource</td>
                <td><a href=@account.Link target="_blank">@account.Link</a></td>
                <td>@account.Email</td>
                <td>@account.Username</td>
                <td>
                    @{
                        string password = @account.Password;

                        string protectedPassword = new string('#', password.Length);

                }
                <a href="#" title="Show Password" onclick="alert('Password: @password');">@protectedPassword</a>
            </td>
            <td>
                <a asp-controller="Account" asp-action="Edit" class="btn btn-outline-secondary"
                   asp-route-id="@account.AccountId" asp-route-password="@account.Password">Edit</a>
                <a asp-controller="Account" asp-action="Delete" class="btn btn-outline-secondary"
                   asp-route-id="@account.AccountId">Delete</a>
            </td>
        </tr>
                            }
                        }
    </tbody>
</table>

                        }
                        else { 
                            <h1 style="text-align: center">Hello!<br />Sign In or Register to Access the Password Manager.</h1>
                        }
